<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" hrf="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <form id="search-form">
                <input type="text" placeholder="location">
                <button type="submit">Search</button>
            </form>
            <p id="p-1"></p>
            <p id="p-2"></p>
        </div>
        {{>footer}}
        <script src="./js/app.js"></script>
    </body>
</html>
