<header>
    <h1>{{title}}</h1>
    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul>
            
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</header>
